<nav class="navbar navbar-light bg-light justify-content-between">
  <span class="navbar-brand">
  </span>
  <button class="btn btn-sm btn-outline-secondary" name="logout" (click)="logout()">Logout</button>
</nav>


<div class="col-8 offset-2 text-center">
  <div class="col">
    <h1 *ngIf="user">Welcome, {{ user.name }}!</h1>
  </div>


  <div class="col">
    <app-homedash *ngIf="user" [bucketlists]="bucketlists" [user]="user" (refresh)="refresh()"></app-homedash>
  </div>


  <div class="col">
    <a class="btn btn-primary" [routerLink]="['/new_bucketlist']"></a>
  </div>


  <div class=form-group>
    <label class="top" for="title"></label>
    <textarea name="bucketlist" required min length="10" [(ngModel)]="bucketlist.title" #title="ngModel" class="form-control"
      placeholder="Title"></textarea>
    <small class="form-text text-muted" *ngIf="bucketlist.title.length < 10">
      <span *ngIf="bucketlist.title.length < 1">title is required.</span>
      <span *ngIf="bucketlist.title.length >= 1 && bucketlist.title.length < 10">title must be at least 10 characters.</span>
    </small>
  </div>

  <div class=form-group>
    <label class="top" for="description"></label>
    <textarea name="description" required min length="10" [(ngModel)]="bucketlist.description" #title="ngModel" class="form-control"
      placeholder="Description"></textarea>
    <small class="form-text text-muted" *ngIf="bucketlist.description.length < 10">
      <span *ngIf="bucketlist.description.length < 1">description is required.</span>
      <span *ngIf="bucketlist.description.length >= 1 && bucketlist.description.length < 10">description must be at least 10 characters.</span>
    </small>

    <form class="col-6 offset-3" #form="ngForm" (submit)="login()">
      <div class="form-row">
        <div class="col-md-8">
          <input type="text" name="name" required #name="ngModel" [(ngModel)]="user.name" class="form-control mb-2 mr-sm-2" placeholder="Name">
        </div>
        <div class="col-md-4">
          <input class="btn btn-primary mb-2" type="submit" value="Add to List" [disabled]="form.invalid">
        </div>
      </div>
    </form>


  </div>




</div>

<p>Before I die I want to:</p>
<table class="table table-hover">
  <!-- <thead class="thead-light"> 
     <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Patient Name</th>
      <th>Complaint</th>
      <th></th>
    </tr> 
  </thead>  -->
   <tbody>
    <tr *ngFor="let bucketlist of display_bucketlists">
     <tr>
      <td>{{ bucketlist.title }}</td>
      <td>{{ bucketlist.description }}</td>
      <td>{{ bucketlist.name }}
        <span *ngIf="bucketlist._userID == _user._id">(You)</span>
      </td>
      <!-- <td>{{ bucketlist.complaint }}</td> -->
       <!-- <td>
        <button class="btn btn-outline-secondary btn-sm" *ngIf="bucketlist._userID == _user._id && .date > today" (click)="delete(bucketlist._id)">Delete</button>
      </td> -->
    </tr>
  </tbody>
</table>


<p>List of other users (click to view profile):</p>



<nav class="navbar navbar-light bg-light justify-content-between">
  <span class="navbar-brand">
    <!-- <img src="/assets/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="Doctor's bucketlists Logo"> Doctor's bucketlists -->
  </span>


</nav>
<div class="col-8 offset-2 text-center">



  <!-- <div *ngIf='error' class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true"> &times; </span>
    </button>
  </div>
  <form class="col-md-6 offset-md-3 text-left" #form="ngForm" (submit)="onSubmit()">
    <div class="form-group">
      <label for="date">Date:</label>
      <input type="date" name="date" required [(ngModel)]="bucketlist.date" #date="ngModel" min="{{today | date: 'yyyy-MM-dd'}}"
        class="form-control">
      <small class="form-text text-muted" *ngIf="bucketlist.date == null">
        <span *ngIf="bucketlist.date == null">Date is required.</span>
      </small>
    </div> -->

    <!-- <div class="form-group">
      <label for="time">Time:</label>
      <input type="time" name="time" required [(ngModel)]="bucketlist.time" #time="ngModel" class="form-control">
      <small class="form-text text-muted" *ngIf="bucketlist.time == null">
        <span *ngIf="bucketlist.time == null">Time is required.</span>
      </small>
    </div> -->

    <!-- <div class=form-group>
      <label class="top" for="complaint">Complaint:</label>
      <textarea name="complaint" required min length="10" [(ngModel)]="bucketlist.complaint" #complaint="ngModel" class="form-control"></textarea>
      <small class="form-text text-muted" *ngIf="bucketlist.complaint.length < 10">
        <span *ngIf="bucketlist.complaint.length < 1">Complaint is required.</span>
        <span *ngIf="bucketlist.complaint.length >= 1 && bucketlist.complaint.length < 10">Complaint must be at least 10 characters.</span>
      </small>
    </div> -->

    <div class="text-center">
      <input type="submit" value="Schedule" [disabled]="form.invalid" class="btn btn-primary">
    </div>
  <!-- </form> -->

<!-- </div>  -->