<nav class="navbar navbar-light bg-light justify-content-between">
  <span class="navbar-brand">
    <!-- <img src="/assets/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="Doctor's Appointments Logo"> Doctor's Appointments -->
  </span>
</nav>
<div class="col-8 offset-2 text-center">
  <h1>Bucket Lists</h1>
  <form class="col-6 offset-3" #form="ngForm" (submit)="login()">
    <div class="form-row">
      <div class="col-md-8">
        <input type="text" name="name" required #name="ngModel" [(ngModel)]="user.name" class="form-control mb-2 mr-sm-2" placeholder="Name">
      </div>
      <div class="col-md-4">
        <input class="btn btn-primary mb-2" type="submit" value="Enter" [disabled]="form.invalid">
      </div>
    </div>
  </form>
</div>